.App {
  text-align: center;
  border: solid;
  /*opacity: 0.2;*/
  height: 1000px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}



#head-menu {
	color: none;
	height: 80px;
	/*margin-left: 24%;*/
	/*float: right;*/
	width: auto;
	margin-left: 23%;
	right:0;
	/*margin-bottom: 10px;*/
	border: solid;
	border-color: yellow;
	/*position: relative;*/
	position: relative;
	z-index: 1;

}

#side-menu {
	/*margin-right: 1%;*/
	/*float: left;*/
	/*display: inline-block;*/
	position: absolute;
	top:0;
	background-color: red;
	height: 100%;
	width: 22%;
	float: left;
	border: solid;
	z-index: 2;
	/*visibility: hidden;*/
	opacity: 500ms linear;
	visibility: 0s linear 500ms;
	/*display: block;*/
}
/*visibility: hidden;*/
/*margin-left: 23%;*/

#mySidenav {
	display: none;
}
.Content {
	border: solid;
	/*margin-top: 7%;*/
	margin-left: 23%;
}
.ChangePage {
	transition: 0.4s;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
