.sideBarDiv {
	margin-top: 67px;
	position: absolute;
	bottom: 0;
}
.testButton {
	/*font-size: 20px;
	margin-left: 30px;*/
	/*position: */
}
.testButton:hover {
	/*background-color: #232323;*/
	cursor: pointer;
}

@media screen and (min-width: 993px) {
	.testButton {
		display: none;
	}
}
@media screen and (max-width: 993px) {
	.sideBarDiv {
		margin-top: 67px;
	}
}
.testButton {
	position: fixed;
	z-index: 50;
	font-size: 21px;
	margin-left: 30px;
	margin-top: 20px;
	color: white;
	cursor: pointer;
}
