.deleteMessageInbox {

}

.deleteMessageInbox:hover {
	color: red;
}

.boxMessageSent {

}

.boxMessageReceived {

}

/*blockquote {
  margin: 0 auto;
  max-width: 320px;
}*/

p {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: grey;
  max-width: 75%;
  clear: both;
  position: relative;
}

.them {
    float: left;
	background-color: grey;
    color: white;
}

/*.them::after {
      content: "";
      position: absolute;
      left: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-right: 0.5em solid grey;
      border-bottom-right-radius: 1em 0.5em;
    }*/

.me {
    float: right;
    background-color: blue;
    color: white;
}

/*p .me::after {
      content: "";
      position: absolute;
      right: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-left: 0.5em solid blue;
      border-bottom-left-radius: 1em 0.5em;
}*/
