.deleteMessageInbox {

}

.deleteMessageInbox:hover {
	color: red;
}

.boxMessageSent {

}

.boxMessageReceived {

}

/*blockquote {
  margin: 0 auto;
  max-width: 320px;
}*/

.messageChat {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: rgb(17, 169, 43);
  max-width: 75%;
  clear: both;
  position: relative;
}

.them {
    float: left;
	background-color: rgb(17, 169, 43);
    color: white;
}

/*.them::after {
      content: "";
      position: absolute;
      left: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-right: 0.5em solid rgb(17, 169, 43);
      border-bottom-right-radius: 1em 0.5em;
    }*/

.me {
    float: right;
    background-color: #41a7ff;
    color: white;
}

/*p .me::after {
      content: "";
      position: absolute;
      right: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-left: 0.5em solid #41a7ff;
      border-bottom-left-radius: 1em 0.5em;
}*/
.iconChatSender .chip {
	display: inherit;
	background-color: white;
}
.chat-bubble .message-date {
	/*display: flow-root;*/
	/*margin-top:4px;*/
	margin: 0 0 0.5em;
    border-radius: 1em;
    /*padding: 0 0em;*/
    /*background: rgb(17, 169, 43);*/
    max-width: 75%;
    clear: both;
	font-size: 11px;
	left:0;
    position: relative;
}
