.deleteMessageInbox {

}

.deleteMessageInbox:hover {
	color: red;
}

.boxMessageSent {

}

.boxMessageReceived {

}

/*blockquote {
  margin: 0 auto;
  max-width: 320px;
}*/

.messageChat {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: rgb(17, 169, 43);
  max-width: 75%;
  clear: both;
  position: relative;
  top: 1px;
  bottom: 30px;
}

.them {
    float: left;
	background-color: rgb(17, 169, 43);
    color: white;
}

.me {
    float: right;
    background-color: #41a7ff;
    color: white;
}
.system {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: #980ebb;
	color: white;
}
.iconChatSender .chip {
	display: inherit;
	background-color: white;
}
.chat-bubble .message-date {
	/*display: flow-root;*/
	/*margin-top:4px;*/
	margin: 0 0 0.5em;
    border-radius: 1em;
    /*padding: 0 0em;*/
    /*background: rgb(17, 169, 43);*/
    max-width: 75%;
    clear: both;
	font-size: 11px;
	left:0;
    position: relative;
	top: 1px;
	bottom: 30px;
}
.collapsible-body {
padding: 11px;

}
.myMessages {
	height: 500px;
	overflow-y: scroll;
}
.collapsible-send {

}
.notification-bubble-chat {
	border-radius: 100%;
    background: red;
    margin-left: 10px;
    padding: 5px;
    color: white;
}
