.footer {
	position: relative;
	bottom: 0;
	font-size: smaller;
	text-align: center;
	width: 100%;
	padding-left: 330px;
	padding-bottom: 20px;
	padding-top: 20px;
}

@media screen and (max-width: 993px) {
	.footer {
		padding-left: 0px;
	}
}
