.profile-header-bloc {
	border:solid;
	height:100px;
	width:100px;
	display:inline-block;
	/*margin-top: 100px;*/
}

.medium {
}

.profile-header-avatar {
	/*position: absolute;*/
	top: 0px;
	z-index: 1;
	height:100px;
	width:100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.profile-avatar {
	width: inherit;
	height: inherit;
	border-radius: 100%;
	/*position: relative;*/
	/*background-image: 'img/avatar.jpg'*/
}
.links-header {
	height:100px;
	position: relative;
	text-align: center;

}
.link-name {
	/*margin-left: 70px;*/
	margin-left: auto;
	margin-right: auto;
	/*top:0px;*/
	/*position: absolute;*/
	font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
	color:black;
}

.header-score {
	position: absolute;
	bottom: 0px;
	right: 0;
}
.card-header .card-content {
	background-color: rgb(253, 253, 253);
}
.side-crush {
	/*background-color: blue;*/
	    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	text-align: center;
}
.side-crush-text {
	color: black;
	/*color: white;*/
	font-size: 20px;

}

.f-weight-200 {
	font-weight: 200;
}

.box-details-name {
	display: inline-flex;
	position: absolute;
	left: 0;
	margin-left: 10px;
}
.box-details-content {
	text-align: right;
}
.fullhr {
	opacity: 0.5;
	position: relative;
	padding: 0;
}
.about-me-title {
	position: relative;
	text-align: center;
	font-size: 30px;
	top:0;
	color:black;
	padding-bottom: 30px;
}
.bg-blue {
	background-color: #4a6ab4;
}
.bg-skinblue {
	background-color: #5c92f5;
}
.hi-icon-wrap {
	/*margin: 0 auto;*/
}

.hi-icon {
	position: absolute;
	/*display: inline-block;*/
	top:10px;
	left:10px;
	font-size: 45px;
	cursor: pointer;
	/*margin: 15px 30px;*/
	/*padding: 15px;*/

	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*text-align: center;*/
	/*position: relative;*/
	z-index: 1;
	color: #fff;
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	/*padding: 0;*/
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.hi-icon-effect-9a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}
.f-white {
	color: white;
}
.f-black {
	color: black;
}
/*.hi-icon-black {
	/*box-shadow: 0 0 0 10px rgb(245, 245, 245);*/
	/*color: black;
}*/
/*.hi-icon-black:hover {
	box-shadow: 0 0 0 10px rgb(245, 245, 245);
	color: black;
}*/
.hi-icon-effect-9a .hi-icon:hover {
	color: black;
	box-shadow: 0 0 0 10px rgb(0, 0, 0);
}
.yes-crush {
	right: 0;
	top: -45px;
	margin:0;
	padding: 0;
	position: absolute;
}
.no-crush {
	right: 0;
	top: -45px;
	margin:0;
	padding: 0;
	position: absolute;
}

.carousel-item {
	display: inherit;
}
.hidden {

}
.yes-crush {
	right: 90px;
}
@media screen and (max-width: 993px) {
	.yes-crush {
		left: 0;
		text-align: left;
	}
	.no-crush {
		right: 0;
	}
	.profile-header-avatar {
		/*position: absolute;*/
		/*margin-left: auto;
		margin-right: auto;*/
	}
}
.uploadHidden {
	visibility: hidden;
}
