.App-content {
	/*margin-top: 20px;*/
	/*width: 100%;*/
	/*height: auto;*/
	/*border:solid;*/
	/*z-index: 0;*/
	z-index: 0;

}

.Content-profile-header {
	height: 200px;
	/*width:auto;*/

	/*margin-left: 20px;*/
	/*margin-right: 20px;*/

	margin-top: 4px;

	border: solid;
	border-width: 1px;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;

	/*background-color: rgba(204, 204, 204, 1);*/
	z-index: 1;
	position: relative;
}

.Content-profile-avatar {
	/*position: relative;*/
	height:155px;
	width:155px;
	border: solid;
	border-width: 1px;
	margin-top: 90px;
	/*background-color: yellow;*/
	background-color: white;
	border-radius: 360px;
	z-index: 1;
}

.Content-profile-name {
	-webkit-font-smoothing: antialiased;
    text-transform: capitalize;
	color: #2c2e31;
	font-size: 34px;
	text-align: center;
	padding: 50px 0px 0px 0px;
}

.Content-profile-infos {
	text-align: center;
}
.Content-profile-infos-1 {
	height:auto;
	width: auto;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-left: 10px;
	margin-right: 10px;

	border:solid;
	border-width: 1px;
}

.Content-profile-zone {
	height: auto;
	width: auto;
	/*border: solid;*/
	min-height: 500px;
	margin-left: 20px;
	margin-right: 20px;
	border-width: 1px;
	z-index: 0;
	background-color: white;

}
